/* line 1, ../../../../sass y scss/scss/estilos.scss */
#titulo h1 {
  color: #c27676;
  font-size: 40px;
  font-weight: bold;
  transition: transform 0.3s;
}

/* line 8, ../../../../sass y scss/scss/estilos.scss */
#titulo h1:hover {
  transform: translate(100px, 10px);
}

/* line 11, ../../../../sass y scss/scss/estilos.scss */
#productos h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 17, ../../../../sass y scss/scss/estilos.scss */
#productos:hover {
  transform: translate(5px, 5px);
}

/* line 20, ../../../../sass y scss/scss/estilos.scss */
main {
  display: flex;
  flex: 1;
  width: 2000px;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
  padding: 0.5em;
}

/* line 29, ../../../../sass y scss/scss/estilos.scss */
#tortas {
  color: #a36a6a;
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

/* line 48, ../../../../sass y scss/scss/estilos.scss */
#tortas:hover {
  transform: rotate(2deg);
}

/* line 52, ../../../../sass y scss/scss/estilos.scss */
#tartas {
  color: #a36a6a;
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/* line 60, ../../../../sass y scss/scss/estilos.scss */
#tartas:hover {
  transform: rotate(2deg);
}

/* line 64, ../../../../sass y scss/scss/estilos.scss */
#budines {
  color: #a36a6a;
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/* line 72, ../../../../sass y scss/scss/estilos.scss */
#budines:hover {
  transform: rotate(2deg);
}

/* line 76, ../../../../sass y scss/scss/estilos.scss */
#chocolates {
  color: #a36a6a;
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/* line 84, ../../../../sass y scss/scss/estilos.scss */
#chocolates:hover {
  transform: rotate(2deg);
}

/* line 88, ../../../../sass y scss/scss/estilos.scss */
#precios h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 94, ../../../../sass y scss/scss/estilos.scss */
#precios:hover {
  transform: translate(5px, 5px);
}

/* line 98, ../../../../sass y scss/scss/estilos.scss */
#sucursales h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 104, ../../../../sass y scss/scss/estilos.scss */
#sucursales:hover {
  transform: translate(5px, 5px);
}

/* line 108, ../../../../sass y scss/scss/estilos.scss */
#contacto h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 114, ../../../../sass y scss/scss/estilos.scss */
#contacto:hover {
  transform: translate(5px, 5px);
}

/* line 118, ../../../../sass y scss/scss/estilos.scss */
#nosotros h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 124, ../../../../sass y scss/scss/estilos.scss */
#nosotros:hover {
  transform: translate(5px, 5px);
}

/* line 128, ../../../../sass y scss/scss/estilos.scss */
#asociate h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 134, ../../../../sass y scss/scss/estilos.scss */
#asociate:hover {
  transform: translate(5px, 5px);
}

/* line 138, ../../../../sass y scss/scss/estilos.scss */
#imagen1 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
}

/* line 146, ../../../../sass y scss/scss/estilos.scss */
#imagen1:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
}

/* line 155, ../../../../sass y scss/scss/estilos.scss */
#imagen2 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
}

/* line 163, ../../../../sass y scss/scss/estilos.scss */
#imagen2:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
}

/* line 172, ../../../../sass y scss/scss/estilos.scss */
#imagen3 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
}

/* line 180, ../../../../sass y scss/scss/estilos.scss */
#imagen3:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
}

/* line 189, ../../../../sass y scss/scss/estilos.scss */
#imagen4 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
}

/* line 197, ../../../../sass y scss/scss/estilos.scss */
#imagen4:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
}

/* line 206, ../../../../sass y scss/scss/estilos.scss */
header {
  display: grid;
  grid-area: encabezado;
  background-image: url(https://images.aws.nestle.recipes/original/e89d19d331ac413811e3b1c11a893991_torta-princesa.jpg);
  background-size: 100%;
}

/* line 213, ../../../../sass y scss/scss/estilos.scss */
input[type=checkbox] {
  transition: all 0.5s;
}

/* line 217, ../../../../sass y scss/scss/estilos.scss */
input[type=checkbox]:checked {
  width: 64px;
  height: 64px;
}

/* line 222, ../../../../sass y scss/scss/estilos.scss */
input {
  transition: all 0.5s;
}

/* line 226, ../../../../sass y scss/scss/estilos.scss */
input:focus {
  background-color: #d2e1ef;
}

/* line 230, ../../../../sass y scss/scss/estilos.scss */
#main {
  display: grid;
  grid-area: cuerpo;
  grid-template-columns: auto;
  grid-template-rows: auto;
  max-width: 100%;
  background-color: rgba(172, 207, 158, 0.221);
  background-size: 100%;
}

/*# sourceMappingURL=estilos.css.map */