#titulo h1 {
    color: rgb(194, 118, 118);
    font-size: 40px;
    font-weight: bold;
    transition: transform 0.3s;
}

#productos h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}

main {
    display: flex;
    flex: 1;
    width: 2000px;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    padding: 0.5em;;
}
#tortas {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}   
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

#tartas {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

#budines {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}


#chocolates {
    color: rgb(163, 106, 106);
    transition: transform 0.3s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}


#precios h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;   
}


#sucursales h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}

#contacto h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}


#nosotros h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}


#asociate h2 {
    color: rgba(209, 81, 81, 0.696);
    background-color: rgb(247, 234, 234);
    transition: transform 0.3s;
}


#imagen1 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
}

#imagen2 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
}

#imagen3 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
}

#imagen4 {
    filter: blur(2px);
    filter: grayscale(0.5);
    transition: transform 0.3s;
    position: relative;
    border-radius: 5px;
}

header {
    display: grid;
    grid-area: encabezado;
    background-image: url(https://images.aws.nestle.recipes/original/e89d19d331ac413811e3b1c11a893991_torta-princesa.jpg);
    background-size: 100%;
}

input[type=checkbox] {
    transition: all 0.5s;
}

input[type=checkbox]:checked {
    width: 64px;
    height: 64px;
}

input {
    transition: all 0.5s;
}

input:focus {
    background-color: rgb(210, 225, 239);

}
#main {
    display: grid;
    grid-area: cuerpo;
    grid-template-columns:auto;
    grid-template-rows: auto;
    max-width: 100%;
    background-color: rgba(172, 207, 158, 0.221);
    background-size: 100%;
}

$productos: (
    tortas: rgb(195, 67, 17),
    tartas: rgb(210, 185, 155),
    budines: rgb(219, 236, 143),
    chocolates: rgb(84, 50, 34),
);
$borde: solid 2px black;
$espaciointerno: 8px;

@each $nombredeproducto, $color in $productos {
    .btn-#{$nombredeproducto} {
        background-color: $color;
        border: $borde;
        padding: $espaciointerno
    }
}
.productos {
    background-color:rgb(109, 177, 200); 
    font-size: 12px;
}
.tortas {
    @extend .productos;
    padding: 50px;
}

@mixin tamaño($width, $height) {
    height:$height;
    width:$width;
}

@mixin borde($borde) {
    border: $borde
}

.nosotros {
    @include tamaño(300px, 70px);
    @include borde(solid 1px blue);
}

p {
    @include borde(solid 1px blue);
}